* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 100%;
    font-family: 'Inter';
  }

  .App {
    width: 90%;
    margin: 3rem auto;
  }

  header h1 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
  }

  header p {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #475467;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  #first_name, #last_name, #email, #message{
    margin: 0.5rem 0 1.5rem;
    width: 100%;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
  }

   label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
  }

  .agreement {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    margin-bottom: 2rem;
  }

  .agreement label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
  }

  #btn_submit {
    padding: 12px 20px;
    gap: 8px;
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 100%;
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 16px;
    border-top: 1px solid #EAECF0;
  }

  @media screen and (min-width: 900px){
    header {
        width: 60%;
        margin: 6rem auto 0;
      }
    
      form {
        width: 60%;
        margin: 0 auto 12rem;
      }

      .fullname {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 2.5rem;
        width: 100%;
      }

      footer {
        flex-direction: row;
        justify-content: space-between;
      }
}